<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonsterPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F343CBA1C6A693D00AF8DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F343CCE1C6A693E00AF8DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F343CD91C6A693E00AF8DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
